/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--gradient-width);
  height: var(--gradient-height);
  background-image: var(--background-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  pointer-events: none;
}

.header,
.main,
.card,
.save-button {
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--content-width);
  height: var(--header-height);
  background-color: #fff;
  container-type: inline-size;
  margin: 100px auto clamp(98px, calc(-0.19vw + 100.71px), 100px) auto;
  padding: var(--header-padding-y) var(--header-padding-x);
  font-family: var(--accent-font);
  font-weight: 400;
}

.header__title {
  text-transform: uppercase;
  font-size: var(--title-size);
  line-height: 100%;
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: var(--subtitle-size);
  line-height: 100%;
  text-transform: uppercase;
}

.main {
   display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(--content-width);
  margin: 0 auto;  
  background-color: #fff;
  font-variation-settings: "wght" var(--font-weight-text);
  font-family: var(--main-font);
}

.card {
  margin-bottom: 50px;
  border: #000 2px solid; 

  overflow: visible;
  overflow: hidden;
}

.card__title {
  font-variation-settings: "wght" var(--font-weight-title);
  margin: 4px 10px;
  line-height: 1.2;
  font-size: 18px;
}

.card__text {
  margin: 25px;
  line-height: 21px;
  font-size: 18px;
}

.card__text__ps {
  margin: 0 25px 88px 25px;
  font-size: 18px;
}

.img {
  display: block;
  border: #000 2px solid;
  width: clamp(371px, 100%, 696px);
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: right center;
}

.card__img {
  position: relative;
}

.watermark {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 
  -1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px -1px 0 #fff,
  1px 1px 0 #fff;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__label {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none; 
  }
}